.work-container {
    width: 100%;
    padding: 0 3.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.work-container .work-head {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* background-color: yellow; */
}

.work-container .work-head span {
    color: #64ffda;
}

.work-container .work-head h1{
    font-size: 24px;
    margin: 0;
    color: #ccd6f6;
    margin-left: 0.5rem;
    margin-bottom: 5px;
}

.work-container .work-head .line {
    width: 300px;
    height: 0.5px;
    background-color: #7792b0;
    margin: 0 20px;
}

.work-container .work-body {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

.work-container .work-body .work-project {
    width: 100%;
    display: flex;
    margin-bottom: 15vh;
}


.work-container .work-body .work-project .project-img {
    width: 60%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.85);
}

.work-container .work-body .work-project .project-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
}

.work-container .work-body .work-project .project-img img.removeFilter{
    filter: none;
}

.work-container .work-body .work-project .project-img .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(29,71,83,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.work-container .work-body .work-project .project-img .project-desc-overlay{
    display: none;
}

.work-container .work-body .work-project .project-img .overlay.remove{
    display: none;
}


.work-container .work-body .work-project .project-content {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.work-container .work-body .work-project .project-content span{
    font-size: 13px;
    color: #64ffda;
}

.work-container .work-body .work-project .project-content h1{
    color: #ccd6f6;
    font-size: 24px;
    margin: 10px 0;
}

.work-container .work-body .work-project .project-content .download-icon {
    cursor: pointer;
    color: #ccd6f6;
    margin-top: 1rem;
}

.work-container .work-body .work-project .project-content .download-icon:hover{
    color: #64ffda;
}

.work-container .work-body .work-project .project-content .project-desc{
    width: 450px;
    padding: 1.5rem;
    background-color: #112240;
    border-radius: 5px;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    margin-bottom: 1rem;
}

.work-container .work-body .work-project .project-content .project-desc p {
    color: #a8b2d1;
    text-align: end;
}

@media screen and (max-width : 821px) {
   .work-container {
        padding: 0rem;
    }
    .work-container .work-head .line {
        width: 130px;
    }
    .work-container .work-body .work-project {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
    }
    .work-container .work-body .work-project .project-img {
        width: 100%;
    }
    .work-container .work-body .work-project .project-content {
        width: 100%;
        margin-top: 1rem;
    }
}

@media screen and (max-width : 769px) {
   .work-container {
        padding: 0rem;
    }
}

@media screen and (max-width : 480px){
    .work-container {
        padding: 0rem;
    }

    .work-container .work-head .line{
        width: 0px;
    }

    .work-container .work-body .work-project{
        margin-bottom: 7vh;
    }

    .work-container .work-body .work-project .project-img .overlay{
        display: none;
    }

    .work-container .work-body .work-project .project-img {
        width: 100%;
        height: 100%;
    }

    .work-container .work-body .work-project .project-img img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .work-container .work-body .work-project .project-img .project-desc-overlay{
        width: 100%;
        height: 400px;
        background-color: rgba(13,32,52,0.95);
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .work-container .work-body .work-project .project-img .project-desc-overlay span{
        font-size: 13px;
        color: #64ffda;
    }

    .work-container .work-body .work-project .project-img .project-desc-overlay h1{
        color: #ccd6f6;
        font-size: 20px;
        margin: 10px 0;
    }

    .work-container .work-body .work-project .project-img .project-desc-overlay a,p {
        color: #a8b2d1;
        letter-spacing: 0.5px;
        line-height: 22px;
        margin-bottom: 1rem;
    }

    .work-container .work-body .work-project .project-img .project-desc-overlay .download-icon{
        margin-top: 0.5rem;
    }

    .work-container .work-body .work-project .project-content{
        display: none;
    }
}

@media screen and (max-width : 380px) {

    .work-container .work-head h1 {
        font-size: 20px;
    }

}