.contact-container {
    width: 100%;
    padding: 0 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.contact-container .contact-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container .contact-content span {
    font-size: 16px;
    color: #64ffda;
}   

.contact-container .contact-content h1{
    font-size: 48px;
    color: #ccd6f6;
    margin: 1rem 0;
}

.contact-container .contact-content p {
    text-align: center;
    color: #8892b0;
}

.contact-container .contact-content button:hover {
    background-color: #223044;
} 

.contact-container .contact-content button{
    margin: 3.5rem 0;
    width: 200px;
    height: 50px;
    background: transparent;
    border: 2px solid #64ffda;
    cursor: pointer;
    color: #64ffda;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
}

@media screen and (max-width : 1025px){
    .contact-container {
        padding: 0;
    }

    .contact-container .contact-content {
        width: 70%;
    }
}

@media screen and (max-width : 769px){
    .contact-container {
        padding: 0;
    }

    .contact-container .contact-content {
        width: 100%;
    }
}

@media screen and (max-width : 480px){
    .contact-container {
        padding: 0;
    }

    .contact-container .contact-content {
        width: 100%;
    }

    .contact-container .contact-content h1{
        font-size: 32px;
    }
}